/* Importación de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Leckerli+One&display=swap');

:root {
    --color-primary:#ce7095;
    --color-secondary: #ffdbd7;
    --color-tertiary: #855e6e;
    --color-button: #ce7095;
    --color-button-hover: #855e6e;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}
/* Imagen */

.imagen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40.6rem;
    padding: 0 3rem ;
    gap: 2rem;
    transition: all 0.3s ease-in-out;}
/* Títulos */
.main-title {
    font-size: 68px;
    font-family: "Leckerli One", cursive;
    font-weight: 300;
    font-style: regular;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}
.main-title:hover {
    transform: translateY(-5px);
    /* Efecto de levantamiento del título */
    color: #E6B2BA;
}

.section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 400;
    font-style: lighter;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.section-title:hover
{
    transform: translateY(-5px);
    /* Efecto de levantamiento del título */
    color: #E6B2BA;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.input-name:focus {
    outline: none;
    box-shadow: 0 0 10px var(--color-primary);
    /* Sombra al seleccionar el input */
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Montserrat", sans-serif;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.input-title:focus {
    outline: none;
    box-shadow: 0 0 10px var(--color-primary);
    /* Sombra al seleccionar el input */
}
/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    transform: scale(1.1);
        /* Aumenta el tamaño del botón al pasar el mouse */
        background-color: #E6B2BA;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        /* Aumenta el sombreado */
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin: 25px 0;
}

.result-list {
    margin-top: 20px;
    padding-bottom: 20px;
    color: var(--color-button-hover);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration:wavy;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
   /* Aumenta el tamaño al pasar el mouse */
}
